h1{color: rgb(62, 62, 184); 
    border: 3px solid black;
    width: fit-content;
    padding: 10px;
border-color: black;

}
p{

color: red;
font-size: x-large;



}
a{
font-size: larger;
color: brown;
position: relative;
bottom: 10px;
right: 10px;

}